services:
  postgres_container:
    image: postgres:latest
    ports:
      - "5544:5432" # Porta alterada para evitar conflito
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nimbledb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "-f", "pg_isready -U postgres"]
      start_period: 60s
      interval: 30s
      timeout: 5s
      retries: 3
      disable: false
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - "./src/main/resources/prometheus.yml:/etc/prometheus/prometheus.yml"
    command: "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    deploy:
      resources:
        limits:
          memory: 256m

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    deploy:
      resources:
        limits:
          memory: 256m

volumes:
  postgres_data:
