<Configuration status="WARN">
  <Appenders>
    <!-- Arquivo em JSON para Promtail/Loki -->
    <File name="FilePagamento" fileName="./pagamento-logs/app.log">  <!-- fileName="/var/log/pagamento/app.log"-->
      <JsonLayout compact="true" eventEol="true" />
    </File>

    <!-- Console no formato padrão Spring Boot -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level %pid --- [%15.15t] %-40.40logger{39} : %msg%n" />
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="com.pagamentos.nimble" level="info" additivity="false">
      <AppenderRef ref="FilePagamento" />
      <AppenderRef ref="Console" />
    </Logger>
    <Root level="info">
      <AppenderRef ref="FilePagamento" />
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
