server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /positions/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: nimble-pagamento-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: pagamentos
          compose_service: app-pagamento
          __path__: /var/log/pagamento/*.log
