server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /positions/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: nimble-gateway-logs
    static_configs:
      - targets: 
          - localhost
        labels:
          job: gateway
          compose_service: app-gateway
          __path__: /var/log/gateway/*.log
 